<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.andrewdonald.lucidlife"
        version   = "1.0">

<name>LucidLife</name>
<description>Connect your thoughts</description>
<author href="https://www.google.com" email="notexposed@gmail.com">Andrew Donald and Sharif Aly</author>

<!-- CORE Features -->
<feature name="http://api.phonegap.com/1.0/geolocation"/>
<feature name="http://api.phonegap.com/1.0/network"/>
<feature name="http://api.phonegap.com/1.0/notification"/>
<feature name="http://api.phonegap.com/1.0/device"/>

<!-- CORE Plugins -->
<gap:plugin name="org.apache.cordova.core.console" />
<gap:plugin name="org.apache.cordova.core.device" />
<gap:plugin name="org.apache.cordova.core.device-orientation" />
<gap:plugin name="org.apache.cordova.core.geolocation" />
<gap:plugin name="org.apache.cordova.core.globalization" />
<gap:plugin name="org.apache.cordova.core.inappbrowser" />
<gap:plugin name="org.apache.cordova.core.network-information" />
<gap:plugin name="org.apache.cordova.core.dialogs" />
<gap:plugin name="org.apache.cordova.core.splashscreen" />

<!-- Access Orgin -->
<access origin="*" browserOnly="true"/>

<!-- PLATFORMS -->
<gap:platform name="ios" />
<gap:platform name="android" />
<gap:platform name="winphone" />

<!-- PREFERENCES -->
<!-- All Platforms -->
<preference name="phonegap-version"           value="3.1.0" />      <!-- all: current version of PhoneGap -->
<preference name="orientation"                value="default" />    <!-- all: default means both landscape and portrait are enabled -->
<preference name="target-device"              value="universal" />  <!-- all: possible values handset, tablet, or universal -->
<preference name="fullscreen"                 value="true" />       <!-- all: hides the status bar at the top of the screen -->
<!-- BlackBerry -->
<preference name="disable-cursor"             value="false" />      <!-- blackberry: prevents a mouse-icon/cursor from being displayed on the app -->
<!-- Android -->
<preference name="splash-screen-duration"   value="60000" />
<preference name="load-url-timeout"         value="60000" />
<preference name="android-minSdkVersion"    value="11" />           <!-- MIN SDK version supported on the target device. MAX version = blank by default -->
<preference name="android-installLocation"  value="auto" />         <!-- App install location. 'auto', 'internalOnly'=device memory, 'preferExternal'=SDCard -->
<!-- Apple -->
<preference name="detect-data-types"                    value="false" />
<preference name="auto-hide-splash-screen"              value="false" />
<preference name="DisallowOverscroll"                   value="true" />
<preference name="KeyboardDisplayRequiresUserAction"    value="false" />
<preference name="KeyboardShrinksView"                  value="true" />
<preference name="webviewbounce"                        value="true" />           <!-- ios: control whether the screen 'bounces' when scrolled beyond the top -->
<preference name="prerendered-icon"                     value="true" />           <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
<preference name="stay-in-webview"                      value="false" />          <!-- ios: external links should open in the default browser, 'true' would use the webview the app lives in -->
<preference name="ios-statusbarstyle"                   value="black-opaque" />   <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
<preference name="detect-data-types"                    value="true" />           <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
<preference name="exit-on-suspend"                      value="false" />          <!-- ios: if set to true, app will terminate when home button is pressed -->
<preference name="show-splash-screen-spinner"           value="true" />           <!-- ios: if set to false, the spinner won't appear on the splash screen during app loading -->
<preference name="auto-hide-splash-screen"              value="true" />           <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->


<!-- ICONS -->
<icon src="icon.png" />
<!-- Android -->
<icon src="img/device/icons/android/icon-36-ldpi.png"       gap:platform="android" gap:density="ldpi" />
<icon src="img/device/icons/android/icon-48-mdpi.png"       gap:platform="android" gap:density="mdpi" />
<icon src="img/device/icons/android/icon-72-hdpi.png"       gap:platform="android" gap:density="hdpi" />
<icon src="img/device/icons/android/icon-96-xhdpi.png"      gap:platform="android" gap:density="xhdpi" />
<icon src="img/device/icons/android/icon-144-xxhdpi.png"    gap:platform="android" gap:density="xxhdpi" />
<!-- Apple -->
<icon src="img/device/icons/ios/icon.png"                   gap:platform="ios" width="57" height="57" />
<icon src="img/device/icons/ios/Icon-72.png"                gap:platform="ios" width="72" height="72" />
<icon src="img/device/icons/ios/Icon@2x.png"                gap:platform="ios" width="114" height="114" />
<icon src="img/device/icons/ios/Icon-72@2x.png"             gap:platform="ios" width="144" height="144" />
<icon src="img/device/icons/ios/AppIcon29x29@2x.png"        gap:platform="ios" width="58" height="58" />
<icon src="img/device/icons/ios/AppIcon76x76.png"           gap:platform="ios" width="76" height="76" />
<icon src="img/device/icons/ios/AppIcon60x60@2x.png"        gap:platform="ios" width="120" height="120" />
<icon src="img/device/icons/ios/AppIcon76x76@2x.png"        gap:platform="ios" width="152" height="152" />


<!-- SPLASH SCREENS -->
<gap:splash src="splash.png" />
<!-- Android -->
<gap:splash src="img/device/splash/android/splash-ldpi-portrait.png"    gap:platform="android" gap:density="ldpi" />
<gap:splash src="img/device/splash/android/splash-mdpi-portrait.png"    gap:platform="android" gap:density="mdpi" />
<gap:splash src="img/device/splash/android/splash-hdpi-portrait.png"    gap:platform="android" gap:density="hdpi" />
<gap:splash src="img/device/splash/android/splash-xhdpi-portrait.png"   gap:platform="android" gap:density="xhdpi" />
<!-- Apple -->
<gap:splash src="img/device/splash/ios/Default.png"                     gap:platform="ios"  width="320" height="480" />
<gap:splash src="img/device/splash/ios/Default_at_2x.png"               gap:platform="ios" width="640" height="960" />
<gap:splash src="img/device/splash/ios/Default_iphone5.png"             gap:platform="ios" width="640" height="1136" />
<gap:splash src="img/device/splash/ios/Default-Landscape.png"           gap:platform="ios" width="1024" height="768" />
<gap:splash src="img/device/splash/ios/Default-Portrait.png"            gap:platform="ios" width="768" height="1024" />
<gap:splash src="img/device/splash/ios/Default_iphone5.png"             gap:platform="ios" width="640" height="1136" />
<gap:splash src="img/device/splash/ios/Default-Landscape_at_2x.png"     gap:platform="ios" width="2048" height="1496" />
<gap:splash src="img/device/splash/ios/Default-Portrait_at_2x.png"      gap:platform="ios" width="1536" height="2008" />

</widget>