/* BOTSTRAP OVERRIDES */
h5, h6 {
  font-weight: bold;
  margin: 10px 0 0;
}
.btn {white-space: normal;}
.input-group-addon {background-color: #0ab;}
label {margin-bottom: 0;}
.nav-pills > li > a {background-color: rgba(0, 100, 115, 0.95); border: 1px solid #056; border-radius: 0 0 5px 5px; box-shadow: 1px 1px 3px #000; padding: 10px 17px; color: #0ef;}
.nav > li > a:hover,
.nav-pills > li.active > a:hover {background-color: rgba(0,200,215, 0.95); color: #fff;}
.nav > li > a:focus,
.nav-pills > li.active > a:focus {background-color: rgba(0,200,215, 0.95); color: #fff;}
.nav-pills > li.active > a  {background-color: rgba(255,180,0, 0.95); color: #fff;}
.navbar {border: none; background: none; width: 100%;}
    .navbar.navbar-fixed-top, .navbar.navbar-fixed-bottom,  {z-index: 2000;} 
.navbar-form {padding: 0; margin: 0; border: none;}

.label {font-size: 10px; padding: 0 3px;}
.list-group {margin-bottom: 0;}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {background: none; background-color: rgba(255,255,0,0.9); text-shadow: 0 -1px 0 #3071A9;}
.list-inline > li {padding: 0;}
.btn:active, .btn.active {box-shadow: none;}
.btn.btn-radio {color: #999; display: inline;}
    .btn.btn-radio > input[type="radio"] {display: inline-block; margin-right: 5px; background: none;}
        .btn.btn-radio:active, .btn.btn-radio.active {color: #000;}
.btn.btn-radio > label {padding: 0 20px 0 0;}
.btn-lg {padding: 9px 16px;}
.btn .badge {right: 0px; padding: 2px 4px;}
.btn-group-justified  > a {border-radius: 0;}
.btn-group > label.btn {padding: 0; margin-right: 15px;}
    .btn-group > label.btn:last-child {margin-right: 0;}
.btn-link {color: #0ab;}
.btn-link:hover, .btn-link:focus {color: #0cd;}

pre {background-color: #09a; border-color: #0cd; padding: 1px 5px 4px; font-family: arial; font-size: 12px; color: #fff;}
pre.active {background-color: #0bc; border-color: #0ef;}
.badge {font-family: arial; background-color: rgba(255, 255, 255, 0.5);}

.form-group {margin-bottom: 0 !important;}
.form-control::-moz-placeholder, .form-control::-webkit-placeholder {color: #468; text-shadow: 0 0 0 #000;}
.form-control {
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    background-color: transparent; border: 1px solid #CCCCCC; border-radius: 4px 4px 4px 4px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #333; display: block; font-size: 12px; font-weight: bold; height: 34px;
    line-height: 1.42857; padding: 3px 5px; vertical-align: middle; width: 97%;}
.alert {margin: 0; padding: 0; border-radius: 0 0 5px 5px;}
    .alert a.alert-link {text-decoration: none;}
.carousel {padding: 5px;}
    .carousel .carousel-inner .item {margin: 20px 15px 10px;}
    .carousel.panel-carousel .carousel-inner .item {padding: 30px 2px 0;}
    .carousel .carousel-control {width: 20px; color: #277; text-shadow: none; opacity: 1;}
    .carousel .carousel-control.left, .carousel .carousel-control.right {background: none;}
    .carousel .carousel-control:hover, .carousel-control:focus {color: #277; opacity:; 1;}
    .carousel .carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {display: none; z-index: 100; top: 5px; left: 4px; font-size: 12px;}
    .carousel .carousel-caption {top: 16px; left: 0; padding: 0; color: #277; text-shadow: none; z-index: 100; max-height: 45px;}
        .carousel .carousel-caption h3 {position: absolute; left: 0; margin: 0; padding: 0; font-size: 16px;}
    .carousel .carousel-indicators {top: -10px; z-index: 100; height: 35px; margin-bottom: 0;}
        .carousel .carousel-indicators > li {margin: 0; border-radius: 2px; border-color: #277; height: 5px; width: 20px; background-color: transparent;}
        .carousel .carousel-indicators > li.active {background-color: #277;}
        .carousel .carousel-indicators .btn-lucid.active {height: 50px; min-width: 50px; margin: 0 2px;}

.panel {margin-bottom: 0;}
.panel .panel-heading {padding: 5px; color: #333; background-color: transparent;}
.panel .panel-body {padding: 5px; background-color: transparent;}
.panel .panel-footer {background-color: transparent; padding: 0; border: none;}

.dropdown-menu {margin: 0; color: #fff; padding: 0; z-index: 3000; box-shadow: 2px 2px 5px #000; background-color: rgba(0, 180, 195, 0.85); border: 2px solid #0ef;}
    .dropdown-menu > li > a {padding: 3px 10px; color: #fff; cursor: pointer;}
    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {color: #078; background-color: #056; background-image: linear-gradient(to bottom, #ff0 0px, #ff6 100%);}
        .dropdown-menu > li > a > .menu-icon {top: 3px; margin-right: 5px;}
    .dropdown-menu > li > ul {font-color: #0ab;}
.dropdown-menu .header {color: #078; padding: 0 10px; font-weight: bold; }
.dropdown-menu ul {color: #fff; font-size: 12px; font-weight: bold;}
.dropdown-menu .divider {background-color: #0ef;}

.caret {border-top-color: #fff;}
.well {min-height: 0px;}
blockquote, .well blockquote {margin: 0; padding: 5px 5px 15px; font-size: 13px; border: 1px solid #0ef; border-left: 1px solid #0ef; background-color: #fff; border-radius: 5px;}
.modal {z-index: 4000; padding-top: 80px;}
    .modal .modal-content {color: #eee; text-shadow: 0 1px 2px #000; background-color: rgba(0, 120, 135, 0.85); border: 1px solid #0ef;}
        .modal .modal-content .modal-header {padding: 10px 15px; border-bottom: 1px solid #0ef;}
        .modal .modal-content .modal-body {padding: 15px;}

.close {text-shadow: none; opacity: 1; color: #0ef;}
.close:hover, .close:focus {color: #0ef;}
.progress {margin-bottom: 0;}

.list-group-item {margin: 2.5px 0; color: #fff; padding: 10px 5px; background-color: rgba(0,0,0,0.3); border: 1px solid #0ab; border-radius: 4px;}
.list-group-item.selected {color: #0ab; background-color: #ff6;}
.input-group-addon.align-top {vertical-align: top; padding-top: 9px;}
.list-inline.full-width {width: 100%;}
    .list-inline.full-width > li.list-group-item {width: 100%;}
    .list-inline.full-width > li.list-group-item:last-child {margin-bottom: 6px;}
        .list-inline.full-width > li.list-group-item > .btn {width: 100%; text-align: left;}
        .list-inline.full-width > li.list-group-item > .btn > .badge {float: right;} 

/* GLOBAL: Vars */
/* Orange */
.color-1 {color: #f90;}
.color-1-lt {color: #fc0;} 
.color-1-dk {color: #940;}
.bg-1 {background-color: #f90 !important;}  
.bg-1-70 {background-color: rgba(255,180,0,0.7);}
.bg-1-30 {background-color: rgba(255,185,0,0.3);}
.bg-1-lt {background-color: #fc0 !important;}
.bg-1-dk {background-color: #940 !important;}
.btn-link-lucid.color-1-lt:hover, .btn-link-lucid.color-1-lt:focus {color: #fc0;}
/* Blue */
.color-2 {color: #24b;}
.color-2-lt {color: #029;} 
.color-2-dk {color: #68f;}
.bg-2 {background-color: #24b !important;}
.bg-2-70 {background-color: rgba(35,70,185,0.7);}
.bg-2-30 {background-color: rgba(35,70,185,0.3);}
.bg-2-dk {background-color: #029 !important;}
.bg-2-lt {background-color: #68f !important;}
.btn-link-lucid.color-2-lt:hover, .btn-link-lucid.color-2-lt:focus {color: #029;}
/* Teal */
.color-3 {color: #0ab;}
.color-3-lt {color: #0ef;} 
.color-3-dk {color: #056;}
.bg-3-70 {background-color: rgba(0,170,185,0.7);}
.bg-3-30 {background-color: rgba(0,170,185,0.3);}
.bg-3 {background-color: #0ab !important;}
.bg-3-lt {background-color: #0ef !important;} 
.bg-3-dk {background-color: #056 !important;}
.btn-link-lucid.color-3-lt:hover, .btn-link-lucid.color-3-lt:focus {color: #0ef;}
/* dk-Teal */
.color-4 {color: #266;}
.color-4-lt {color: #599;} 
.color-4-dk {color: #044;}
.bg-4 {background-color: #266 !important;}
.bg-4-70 {background-color: rgba(30,100,100,0.7);}
.bg-4-30 {background-color: rgba(30,100,100,0.3);}
.bg-4-lt {background-color: #599 !important;}
.bg-4-dk {background-color: #044 !important;}
.btn-link-lucid.color-4-lt:hover, .btn-link-lucid.color-4-lt:focus {color: #599;}
/* Lt-Blue */
.color-5 {color: #4ad;}
.color-5-lt {color: #6cf;} 
.color-5-dk {color: #069;}
.bg-5 {background-color: #4ad !important;}
.bg-5-70 {background-color: rgba(0,170,255,0.7);}
.bg-5-30 {background-color: rgba(0,170,255,0.3);}
.bg-5-lt {background-color: #6cf !important;} 
.bg-5-dk {background-color: #069 !important;}
.btn-link-lucid.color-5-lt:hover, .btn-link-lucid.color-5-lt:focus {color: #6cf;}

.blue {color: #006DCC;}
.dark-blue {color: #002A80;}
.light-blue {color: #4A86E8;}
.new-blue {color: #428bc7;}
.orange {color: #f90;}

/* GLOBAL */
* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
body {font-family: arial; font-weight: normal; font-size: 14px; color: #333; padding: 0; margin: 0;
    background: #f0ffff; line-height: 1.4;}

h1, h2 {color: #999; margin: 0 0 10px;}
h1 {font-size: 18px;}
h2 {font-size: 16px;}

.form {padding: 0; color: #fff; clear: both;}
    .form .form-row {margin-bottom: 10px;}
        .form .btn-wide {padding: 6px 39px;}
            .form .form-row sup > span {background-color: rgba(0, 0, 0, 0); border: medium none; font-size: 7px; left: -1px; padding: 0; position: absolute; width: 9px;}
    
    /* PROFILE FORM */
.stream-name:before {content: '∼';}
.stream-icon {line-height: 10px;}
.stream-icon:before {content: '∼'; font-size: 25px; font-weight: bold; vertical-align: text-top;}
.btn-stream-controls .stream-icon:before {font-size: 37px; line-height: 6px;}
.added-stream-name:before {content: '≅'; font-size: 18px;}
.filter-name:before {content: ''; font-family: 'Glyphicons Halflings'; font-weight: normal; font-size: 9px;}

.hide {display: none;}
.toggle {cursor: pointer; color: #277;}
/*.divider {color: #999; font-weight: bold; margin-right: -2px;}*/

.label-lucid {color: #fff; padding: 1px 3px 0px 2px; border: 1px solid #0ef; border-radius: 5px; box-shadow: 1px 1px 1px #333; background-color: #0ab;}

.menu-transparent-light {background-color: rgba(0,170,190,0.9);}

.well-lucid {background-color: rgba(0,100,125,0.5); background-image: none; border-color: #0ab; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.95) inset, 1px 1px 3px #fff; margin: 0; padding: 0; overflow: auto;}
    .menu-transparent .well-lucid {border-color: #078;}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    color: #ff6;
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
/*
.alert{}
    .alert a.alert-link {position: relative; display: block; padding: 5px 35px 5px 25px; color: #fff; font-weight: normal; line-height: 1.15; border-bottom: 1px dotted #0ab;}
        .alert .view-indicator {position: absolute; top: 0; right: 5px; color: #ff6;}
        .alert .alert-timestamp {position: absolute; top: 15px; right: 5px; font-size: 10px; color: #ff6;}
        .alert .alert-icon {position: absolute; top: 5px; left: 5px;}
        .alert .alert-message {}
        .alert > a img {width: 25px; height: auto; margin: 0 5px 5px 0; border: 1px solid #A47E3C; border-radius: 5px; padding: 2px;}
*/

/* PANEL */
.panel > .panel-body > .carousel {padding: 0px;} 
.panel.panel-lucid {position: relative;}
        
    .stream-pane-menu-con .panel-nav.left, .stream-pane-menu-con .panel-nav.right {display: none;}
    .panel-nav.left, .panel-nav.right {position: absolute; top: 20px; z-index: 100; color: #277; opacity: 0.6; text-shadow: 0 0 3px #fff;}
    .panel-nav.left {left: 0;}
    .panel-nav.right {right: 3px;}
    .panel.panel-lucid .panel-nav.left, .panel .panel-nav.right {display: none; position: absolute; top: 30%; z-index: 0; font-size: 10px; font-weight: bold; line-height: 0.5; color: #055; opacity: 0.4; text-shadow: 0 0 3px #fff; /*background-color: rgba(255, 255, 255, 0.5)*/}
    .panel.panel-lucid .panel-nav.left.scroll-menu, .panel.panel-lucid .panel-nav.right.scroll-menu {display: block;}
    .panel .panel-heading h1, .panel .panel-heading h2, .panel .panel-heading h3, .panel .panel-heading h4, .panel .panel-heading h5, .panel .panel-heading h6 {margin: 0;}
         .panel .panel-heading.panel-nav {position: relative; white-space: nowrap; text-align: center;}
        .panel .panel-heading.panel-nav .panel-menu {position: relative;}
            /*.panel .panel-heading.panel-nav .panel-menu > button:first-child {margin-left: 20px;}
            .panel .panel-heading.panel-nav .panel-menu > button:last-child {margin-right: 20px;}*/
        .panel .panel-heading.panel-nav .panel-menu.btn-group {width: 100%;}

    .panel.panel-lucid {margin: 0; color: #227777; background: rgba(0,0,0,0.2); border-radius: 0;} 
        .panel.panel-lucid > .panel-heading {padding: 0; border: none; border-radius: 0; overflow: auto;}
        .panel.panel-lucid > .panel-body {max-height: 250px; padding: 0; box-shadow: 0 1px 3px #333 inset; background-color: #ffb; overflow: auto;}
            .panel.panel-lucid > .panel-body > .carousel {display: none;}
            .panel.people-panel > .panel-body .panel .panel-body {padding: 0;}
    .panel.people-panel > .panel-body > .panel {display: none; background: none;}
    .panel.people-panel > .panel-body > .panel.active {display: block;}
        
/* CAROUSEL */
.carousel .carousel-inner .item {color: #333;}
.carousel .carousel-inner .item > .panel {margin: 0 5px 20px;}
    .carousel .carousel-inner .item > .panel > .panel-body {padding: 0;}
.carousel .carousel-inner .item > h4 {margin: 0 0 0 5px;}
.stream-controls-carousel.carousel > .carousel-indicators {}

/* HORIZONTAL SLIDING NAV */
.horizontal-sliding-nav-con {overflow: hidden; white-space: nowrap; background-color: #0ab; padding: 5px 0 0; box-shadow: 0 0 3px #000, 0 1px 3px #0ef inset;}
    .horizontal-sliding-nav-con .horizontal-sliding-nav {background-color: #0ab; border-top: 1px solid #078; box-shadow: 0 5px 10px rgba(0, 50, 60, 0.8) inset; overflow: auto; padding: 4px 5px; white-space: nowrap;}
        .horizontal-sliding-nav-con .horizontal-sliding-nav .btn.btn-stream {min-width: 70px;}
            .horizontal-sliding-nav-con .horizontal-sliding-nav > .btn,
            .horizontal-sliding-nav-con .horizontal-sliding-nav .btn-group {box-shadow: 0 0 1px #fff inset, 0 0 5px #000; border-radius: 4px;}
            .horizontal-sliding-nav-con .horizontal-sliding-nav .btn {font-size: 14px;}
            .horizontal-sliding-nav-con .horizontal-sliding-nav > .btn:last-child,
            .horizontal-sliding-nav-con .horizontal-sliding-nav .btn-group:last-child {margin-right: 5px;}
            
            /*.horizontal-sliding-nav-con .horizontal-sliding-nav .btn:not(.btn-group):last-child:not(:first-child) {margin-right: 5px;}
            .horizontal-sliding-nav-con .horizontal-sliding-nav .btn:not(.btn-group) {box-shadow: 0 0 5px #000; margin-right: 0;}
            */
                .horizontal-sliding-nav-con .horizontal-sliding-nav .btn sup {top: -10px;}
                .horizontal-sliding-nav-con .horizontal-sliding-nav .btn sup {top: -10px;}
        .horizontal-sliding-nav-con .horizontal-sliding-nav .btn.vote-remove {height: 34px; padding-top: 8px; border-radius: 0 4px 4px 0;}

/* TOGGLES */
.toggle-on-off {margin: 2px;}
.toggle-on-off .toggle-target {padding-left: 5px; padding-right: 5px; display: inline-block; font-size: 14px; min-width: 205px; background: #eee;}
.toggle-on-off .toggle-target .name {color: #333; text-shadow: none;}
.toggle-on-off.on .toggle-target {height: 35px; color: #fff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2); background-image: linear-gradient(to bottom, #5CB85C 0px, #449D44 100%);}
.toggle-on-off.go .toggle-target {min-width: 170px;}
.toggle-on-off .toggle-target .badge {top: 0; background-color: #ccc; color: #000; opacity: 0.3;}
.toggle-on-off.on .toggle-target .badge {opacity: 1; color: #fff;}

.indicator {display: none; font-family: Arial}

.btn-link-lucid {font-size: 13px; line-height: normal; transition: opacity 0.5s; -webkit-transition: opacity 0.5; opacity: 1; color: #0ab; text-align: left; padding: 0; border-color: rgba(0, 0, 0, 0); background-color: rgba(0, 0, 0, 0); box-shadow: none; text-shadow: none;}
.btn-link-lucid:hover, .btn-link-lucid:focus {color: #0ab; text-decoration: none; box-shadow: none;}
.btn-link-lucid.glyphicon {padding-left: 10px;} 
.active > .btn-link-lucid {transition: opacity 0.5s; -webkit-transition: opacity 0.5; opacity: 1;}
.list-group-item.active > .btn-link-lucid {color: #078;}
button.btn-link-lucid:hover, button.btn-link-lucid:focus {color: #f90;}
button.btn-link-lucid {font-size: 36px; padding: 0 5px; line-height: 1; font-weight: bold;}

#main-menu-toggle.btn-link-lucid, #control-panels-toggle.btn-link-lucid {opacity: 1; color: #f90;}

.btn-link-lucid.tilde {font-size: 40px; line-height: 0;}
.btn-link-lucid .icon {font-size: 8px; position: absolute; right: 2px; top: 4px;}
    sup.badge, .btn-link-lucid .badge, .btn-lucid .badge {text-shadow: 0 0 1px #000; top: -25px; left: -15px; background-color: rgba(0, 200, 220, 0.85); font-family: Arial; color: #fff; margin-right: 5px; min-width: 25px; text-align: center;}
    sup.badge .glyphicon {font-size: 10px;}
    .btn-link-lucid.active .badge, .btn-lucid.active .badge {box-shadow: 0 0 3px #ff6;}
.btn-lucid {transition: box-shadow 0.5s, background-color 0.5s, border-color 0.5s; -webkit-transition: box-shadow 0.5s, background-color 0.5s, border-color 0.5s;
    box-shadow: none; line-height: 1;
    position: relative; cursor: pointer; font-size: 14px; color: #fff;
    border-radius: 5px; background-color: #0ab; border: 1px solid #078; box-shadow: 0 0 3px #000, 0 0 3px #0cd inset;}
.btn-lucid:hover, .btn-lucid:focus {color: #fff;}
.btn-lucid.active {transition: color 0.5; -webkit-transition: box-shadow 0.5s;
    background-color: #0cd; box-shadow: 0 0 3px #fff inset;}
    .btn-lucid.tilde {font-size: 40px; line-height: 0.45;}
    .btn-lucid.tilde:before {content: "~";}
        /*.btn-lucid.tilde .indicator {top: 0; left: 20px;}*/
    /*
    .stream-controls-panel > .panel-heading .btn-lucid .indicator {left: 6px; top: 4px;}
    .stream-controls-panel > .panel-heading .btn-lucid .glyphicon {font-size: 14px; margin-right: 2px;} 
    */ 
    .btn-lucid img {position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 4px;}
    .btn-lucid h1 {margin: 0; padding: 0; font-size: 12px;}
    
        .btn-lucid label {display: block; margin-top: 4px; font-size: 10px; font-family: Arial; font-weight: normal; line-height: 1;}
        .btn-lucid.tilde label {margin-top: -4px;}
    /*.btn-lucid .indicator {display: block; position: absolute; top: -6px; left: -6px;}*/
    
.btn-lucid.user {margin: 8px 3.5px 12px; height: 52px; width: 52px; background-size: 50px 50px; border: 1px solid #0ef; box-shadow: 0 0 5px #000;}
    .btn-lucid.user.active {border: 1px solid #ff6; box-shadow: 0 0 5px #ff6, 0 0 5px #fff inset;}
        .btn-lucid.user > label {margin: 0 -12.5px; color: #fff; font-size: 12px; top: 54px; left: 0; position: absolute; text-align: center; width: 70px; text-align: center;}
        .btn-lucid.user.active > label {color: #ff6;}
            .btn-lucid.user > label > .name {display: block;}
        .btn-lucid.user.active > label {background-color: transparent;}

        .btn-lucid.user.active > sup {border-color: #ff6; background-color: rgba(200, 200, 0, 0.7);}

        .btn-lucid.user > sub {width: 100%; left: 0; text-align: left; line-height: 1; text-shadow: 0 0 1px #000; position: absolute; bottom: 0; font-size: 8px;}
            .btn-lucid.user > sub > .stream-indicator-icon {font-size: 16px;}
            .btn-lucid.user.in-stream > sub > .stream-indicator-icon:after {content: '∼'; padding-left: 1px; padding-top: 3px;}
            .btn-lucid.user.added-stream > sub > .stream-indicator-icon:after {content: '≅';}
            .btn-lucid.user > sub > .viewed-profile-indicator-icon {display: none; line-height: 1.8;}
            .btn-lucid.user.viewed-profile > sub > .viewed-profile-indicator-icon {display: inline-block;}
            .btn-lucid.user > sub > .connected-indicator-icon {display: none; line-height: 1.8;}
            .btn-lucid.user.connected > sub > .connected-indicator-icon {display: inline-block;}
/* btn-lucid-transparent */
.btn-lucid-transparent, .btn-lucid-transparent:hover, .btn-lucid-transparent:focus {height: 32px; text-shadow: 0 0 5px #666; color: #fff; box-shadow: 0 0 1px #0ef, 0 0 1px #0ef inset; border-color: #078; background-color: rgba(0,240,255,0.3);}
.btn-lucid-transparent.active {background-color: rgba(255,255,255,0.5); color: #fff; text-shadow: 0 0 5px #000;} 
    .btn-lucid-transparent .badge {background-color: rgba(255,255,255,0.5);}
.btn-lucid-transparent.disabled, .btn-lucid-transparent.disabled:hover, .btn-lucid-transparent.disabled:focus {opacity: 0.3;}

.btn-lucid-transparent.power, .btn-lucid-transparent.power:hover, .btn-lucid-transparent.power:focus {padding: 4px 10px 2px;} 
    .btn-lucid-transparent.power > .glyphicon-off {font-size: 16px !important;}
.btn-lucid-transparent.power.active {font-size: 6px; color: #ff6; padding: 7px 10px 0; border: 1px solid #ff6;}
    .btn-lucid-transparent.power.active > .glyphicon-off {transition: transform 0.5; -webkit-transition: transform 0.5; transform: rotate(180deg);}

.btn-lucid-normal, .btn-lucid-normal:hover, .btn-lucid-normal:not(.active):focus {text-shadow: 0 1px 3px #000; color: #fff; box-shadow: 0 0 1px #fff inset; border-color: transparent; background-color: #0bf;}
    .btn.btn-lucid-normal > sup.badge {left: 7px; font-size: 10px;}
    .btn-lucid-normal > .toggle-icon {margin: 0 -5px; border: 1px solid #fff; border-radius: 50% 50%; padding: 4px 5px 0px 4px; background-color: rgba(255, 160, 0, 0.9);}
    .btn-lucid-normal > .toggle-icon > span:first-child,
    .btn-lucid-normal:not(.active):focus > .toggle-icon > span:first-child {display: inline-block;}
    .btn-lucid-normal > .toggle-icon > span:last-child,
    .btn-lucid-normal:not(.active):focus > .toggle-icon > span:last-child {display: none;}
.btn-lucid-normal.active, .btn-lucid-normal.active:focus {color: #fff; background-color: #00d9ff; box-shadow: 0 0 1px #fff inset;}
    .btn-lucid-normal.active > .toggle-icon, .btn-lucid-normal.active:focus > .toggle-icon {padding: 2px 4px 2px 5px; background-color: rgba(255, 255, 0, 0.9);}
    .btn-lucid-normal.active > .toggle-icon > span:first-child, .btn-lucid-normal.active:focus > .toggle-icon > span:first-child {display: none;}
    .btn-lucid-normal.active > .toggle-icon > span:last-child, .btn-lucid-normal.active:focus > .toggle-icon > span:last-child {display: inline-block;}

/*.tab-panel {position: relative; border-top: 1px solid #00AABB; box-shadow: 0 -1px 5px #000000;}*/
.tab-lucid {color: #fff; background-color: #078; height: 35px; position: absolute; top: -30px; width: 60px; border-radius: 10px 10px 0 0; border: none; z-index: -1; box-shadow: 0 1px 2px #0cd inset, 0 -1px 5px #000;}
    .tab-lucid.active {background-color: #0ab; box-shadow: 0 1px 2px #0ef inset, 0 -1px 5px #000;}

.chevron-toggle {position: relative; width: 12px; height: 12px; overflow: hidden; display: inline-block; margin: 0; font-size: 10px; color: rgba(255,255,255,0.8); color: #0bc; text-shadow: 0 0 2px #005566;}
    .chevron-toggle > span {position: absolute; top: 0; left: 0;}
    .chevron-toggle > span:first-child {display: none;}
    .chevron-toggle > span:last-child {display: inline-block;}
.active > .chevron-toggle {color: #0ef;}
    .active > .chevron-toggle > span:first-child {display: inline-block;}
    .active > .chevron-toggle > span:last-child {display: none;}
.btn > .chevron-toggle, .btn .active > .chevron-toggle {color: #fff; text-shadow: 0 0 2px #333;}
.chevron-left {opacity: 0.8; position: absolute; left: 0px; top: 12px; z-index: 100; color: #0ef; font-size: 10px; text-shadow: 0 0 3px #000;}
.chevron-right {opacity: 0.8; position: absolute; right: 0px; top: 12px; z-index: 100; color: #0ef; font-size: 10px; text-shadow: 0 0 3px #000;}

/*
.controls-toggle {position: absolute; left: 5px; top: 4px; width: 46px; height: 35px; padding: 6px 5px; border-radius: 4px 0 0 4px; box-shadow: 1px 0px 5px #333;}
.controls-toggle.active {box-shadow: 1px 0px 3px #333, 0 0 1px #fff inset;}
    .controls-toggle > .chevron-toggle {margin-right: -5px;}
        .controls-toggle > sup {top: -30px; right: -15px; font-size: 10px;}
*/
.color-male {color: #00f;}
.color-female {color: #FFC0CB;}

.associated-tilde {font-size: 28px; font-weight: bold; left: 5px; line-height: 6px; margin-right: 10px; position: relative; top: 6px;}
.slider-status-con.vertical .associated-tilde {margin-left: 5px; top: 2px;}
.associated-plus {background-color: #078; border-radius: 2px; height: 14px; left: 14px; position: absolute; top: 5px; width: 3px;}
.slider-status-con.vertical .associated-plus {left: 22px;}
    .active > .associated-plus {color: #0cd;}

/* HEADER */   
nav#header {z-index: 2002; min-height: 40px; box-shadow: 0 1px 5px #000;}
    nav#header > .masthead {position: relative; height: 40px; box-shadow: 0 0 5px #0ef inset, 0 0 2px #000; z-index: 2001; background-color: #0ab;}
        nav#header > .masthead .main-nav {position: absolute; top: 2px;}
        nav#header > .masthead .main-nav.left {left: 5px;}
        #control-panels-toggle {width: 40px;}
        nav#header > .masthead .main-nav.right {right: 5px;}
        nav#header > .masthead center {padding-top: 5px;}
        nav#header > .masthead .logo-con {padding-right: 2px; width: 140px;}
        nav#header > .masthead .monarch {height: 20px; margin-top: -8px;}
        nav#header > .masthead .monarch-icon {height: 20px; width: 30px; margin-top: 8px; background-image: url("../img/lucid-butterfly-teal.png"); background-repeat: no-repeat; background-size: 100% auto;}
            nav#header > .masthead .monarch-icon.active {background-image: url("../img/lucid-butterfly-white.png");}
        nav#header > .masthead .logo {width: 100px; margin: 0 0 5px 5px;}
        /*nav#header .masthead .monarch.animated {position: absolute; left: 120px; top: -1; height: 25px;}*/

    /* MESSAGE PANEL */
    #message-panel {display: none; padding: 5px; color: #fff; background-color: #0ab; box-shadow: 0 -2px 3px #0ef inset, 0 0 3px #000;}
    #message-panel.active {display: block;}
        #send-message.private {background-color: #cff;}

    /* NOTIFICATIONS PANEL */
    #notifications-panel {display: none; background-color: rgba(0,0,0,0.75); color: #0bf; font-size: 12px; padding: 0 5px; border-bottom: 1px solid #0bf;}
    #notifications-panel.active {display: block;}
    /* STREAM CONTROLS */
    .btn-stream-controls > .stream-icon {margin-top: 5px;}
        .stream-filters > .btn .added-stream {font-size: 20px; line-height: 14px;}

            .status-con {width: 33.3%;}
                .select-toggle {width: 100%; text-align: left; border-radius: 4px 0 0 4px; overflow: auto; padding-right: 1px;}
                    .select-toggle .badge {top: 1px; background-color: rgba(255,255,255,0.3);}
                .history-list {max-height: 230px; overflow: auto; font-size: 10px; white-space: nowrap;}
                    .history-list .list-group-item {white-space: normal;}
            .slider-status-con {max-width: 66.6%; float: left;}
                .slider-status-con > .toggle-expand {position: absolute; top: 0; right: 0; width: auto;}
                .slider-status-con > .list-group {white-space: nowrap; max-width: 100%; margin: 0 39px 0 0; padding: 4px; height: auto; border-radius: 0; box-shadow: 0 0 3px #000 inset; overflow: auto;}
                    .slider-status-con > .list-group > .list-group-item {margin: 0; border-radius: 4px; padding: 1px 0 3px 1px;}

            /*.slider-status-con.vertical {height: auto;}*/
            .slider-status-con.vertical .list-group {margin-top: 1px; padding: 0; background-color: rgba(0, 150, 170, 0.95); border: 1px solid #0ef; border-radius: 0 0 5px 5px; max-height: 230px; box-shadow: 1px 3px 5px #000;}
                .slider-status-con.vertical .list-group > li {padding: 5px 16px 6px 5px; border-radius: 0;}
                    .slider-status-con.vertical .list-group > li > a {}

        /* Phone Alterations */
        @media (max-width: 480px) {
            .status-con {margin-right: -39px; padding-right: 39px; width: 100%;}
                .slider-status-con {float: right; width: 39px; max-width: auto;}
                .slider-status-con > .list-group {display: none;}
                .slider-status-con.vertical .list-group {float: right;}
                .slider-status-con.vertical, .slider-status-con.vertical .select-toggle {width: 100%;}
                .slider-status-con.vertical .list-group {display: block; margin: 0;}
                .slider-status-con.vertical .toggle-expand {display: inline-block; top: -38px; border-radius: 4px 4px 0 0;}
        }

        
/* PAGES */
/*
#pages {position: absolute; top: 0; left: 0; min-width: -moz-available; min-width: -webkit-available; width: auto; height: 100%; padding: 110px 10px 60px;}
*/
#pages {padding: 70px 0 600px;}
body.message-panel #pages {padding-top: 105px;}
    #pages > .page {display: none; margin: 0; padding: 0 10px; clear: both;}
    #pages > .page.active {display: block;}
        #page-stream .show-stream,
        #page-stream .show-filter,
        #page-stream .show-people,
        #page-stream .show-chat,
        #page-stream .show-photos,
        #page-stream .show-videos,
        #page-stream .show-audio  {display: none;}
        body.stream #page-stream .show-stream,
        body.filter #page-stream .show-filter,
        body.people #page-stream .show-people,
        body.chat #page-stream .show-chat,
        body.photos #page-stream .show-photos,
        body.videos #page-stream .show-videos,
        body.audio #page-stream .show-audio {display: block;}
    
    /* PAGE LOGIN */
    #page-login {padding-top: 50px;}
        #form-login .btn-join {font-size: 16px; margin-left: -10px;}

    /* PAGE CREATE-USER */
    #page-create-user {}
        #form-create-user .steps {display: none;}
        #form-create-user .steps.active {display: block;}
            #form-create-user .gender > .form-control {padding: 0 5px;}
            #form-create-user .instructions {font-size: 10px; color: #0ab; margin-top: -5px;}
    
    /* PAGE NEW-THOUGHT */
    #page-new-thought {padding: 0px;}
        #join-conversation {clear: both;}
            #join-conversation .btn-group {}
            
        #join-conversation .btn-group .btn:first-child {border-top-left-radius: 4px;}
        #join-conversation .btn-group .btn:last-child {border-top-right-radius: 4px;}
        #join-conversation .conversation-lists .form-control {display: none; height: 200px; overflow: auto; margin: -1px 0 0; border-radius: 0 0 5px 5px; box-shadow: 0 1px 3px inset;}
        #join-conversation .conversation-lists .form-control.active {display: block;}

    /* PAGE CONVERSATION */
    #page-conversation {}
        #page-conversation .connection-items-con > .well {box-shadow: none; background-color: #f0ffff; border: none;}
            #page-conversation .connection-items-con > .well > .connection-items-list {height: auto; padding: 0;}
                #page-conversation .connection-items-con > .well > .connection-items-list .day-header {display: none;}

/* FOOTER */
nav#footer {display: none; min-height: 15px; box-shadow: 0 -1px 5px #000, 0 0 5px #0ef inset;}
body.footer nav#footer {display: block;}
    /* CONTROLS PANELS */
    #controls-panel {}
        .control-panel {}

    /* CONTROL TABS */
    #tab-people.tab-lucid {left: 15px; font-size: 12px;}
    #tab-stream.tab-lucid {left: 85px;}
    #tab-filter.tab-lucid {left: 155px; font-size: 12px;}
    /*#tab-alerts.tab-lucid {left: 225px;}*/
    
    /* PEOPLE PANEL */ 
    #people-panel {}
        #people-panel #people-nav {white-space: normal; width: 100%; overflow: auto; padding: 3px 3px 5px; border-radius: 0; overflow: auto;}
        
            #people-panel.vertical #people-nav .btn.btn-lucid.user {margin-bottom: 20px;}
                        
                /*.btn.people-nav-toggle > sup.indicator {display: inline-block; top: -9px; margin-right: -5px;}*/
                .btn.people-nav-toggle > .badge {font-size: 14px;}
                .btn.people-nav-toggle > sup {top: -8px; left: -5px; font-weight: bold; font-size: 16px;}
                .btn.people-nav-toggle > sup.close-left {margin-right: -12px;}
                    .btn.people-nav-toggle > sup > .glyphicon {font-size: 9px;}

                #people-nav {display: none; padding: 2px 5px; border-radius: 0;}
                #people-nav.active {display: block;}
                    #people-nav > .panel-menu > pre {display: none; color: 0.5; font-size: 10px; padding: 7px 4px 6px 5px;}
                        #people-nav > .panel-menu > pre > label {padding-right: 5px;}
                        #people-nav > .panel-menu > pre.in-stream > label:before {content: '∼'; font-size: 16px; line-height: 1;}
                        #people-nav > .panel-menu > pre.added-stream label:before {content: '≅'; font-size: 16px; line-height: 1;}
                            #people-nav > .panel-menu > pre > .header-icon {padding-right: 5px;}
                            #people-nav > .panel-menu > pre > .btn.btn-vote-remove {margin: -4px 0px 0 5px;}
                            #people-panel.vertical #people-nav > .panel-menu > pre > .btn.btn-vote-remove {margin-right: 5px;}
                            #people-nav > .panel-menu > pre.in-stream > .btn.btn-vote-remove {display: none;}
                            #people-panel.vertical > #people-nav > .panel-menu > pre > .btn-vote-remove {float: right;}
                    #people-panel:not(.vertical) > #people-nav > .panel-menu > pre {display: none; padding: 5px 5px 4px 5px;}
                    #people-panel:not(.vertical) > #people-nav > .panel-menu > pre > .chevron-toggle {margin: 4px 0 0 5px; transform: rotate(90deg);}
        #people-panel > .panel-body {padding: 0; box-shadow: 0 0 3px #0ef inset;}
    
    /* STREAM PANEL */
    #stream-panel {}
        /* Stream */
        #stream-name {margin: 3px 0 -5px 7px; display: inline-block; line-height: 1; max-width: 183px; color: #fff; font-weight: bold; overflow: auto; font-size: 12px;}
        #stream-name:before {content: "~";}
        .history-list .stream-name {display: inline-block; margin-right: 40px; max-width: 235px; overflow: auto;}
        /* Associated Streams */
        .slider-status-con .list-group > li > a {}
            .slider-status-con .list-group > li > a > .stream-name {margin-bottom: -4px; padding-right: 5px;}
            .slider-status-con .list-group > li > a > .badge {font-weight: normal;}
        .slider-status-con .list-group > li.active {}
            .slider-status-con .list-group > li.active > a > .badge {font-weight: bold;}
                .slider-status-con.vertical .list-group > li > button.remove {display: inline-block;}
                .slider-status-con.vertical .list-group > li > a > .stream-name {display: inline-block; overflow: auto; font-weight: bold;}
    
    /* FILTER PANEL */
    #filter-panel {}
        .filter-controls {display: none;}
        #filter-toggle-menu .filter-toggle-menu-list a[data-stream-filter=filter] .badge:before{content:"off";}
        #filter-toggle-menu .filter-toggle-menu-list a[data-stream-filter=filter].active .badge:before{content:"on";}
        #filter-toggle-menu .filter-toggle-menu-list a[data-stream-filter=associations] .badge:before{content:"off";}
        #filter-toggle-menu .filter-toggle-menu-list a[data-stream-filter=associations].active .badge:before{content:"on";}
        #filter-toggle-menu .filter-toggle-menu-list a[data-stream-filter=details] .badge:before{content:"less";}
        #filter-toggle-menu .filter-toggle-menu-list a[data-stream-filter=details].active .badge:before{content:"more";}
    
    /* FILTER PANEL */
    #stream-status-panel {font-size: 10px; font-weight: normal; overflow: hidden; color: #fff; padding: 2px 5px; box-shadow: 0 0 3px #000, 0 1px 3px #0ef inset; background-color: #0ab; background-image: linear-gradient(to bottom, #oab 30%, #078 100%);}
        #stream-status-panel .glyphicon-filter {font-size: 8px;}
        #stream-status-panel .badge {margin: 2px 0 0 4px; padding: 1px 3px; font-weight: normal; font-size: 9px;}

    /* CONVERSATION PAGE */
    body[data-page=page-conversation] #people-panel {}
        body[data-page=page-conversation] #people-panel #people-nav {padding: 3px 5px 7px; background-color: #078; box-shadow: 0 0px 20px #045 inset; white-space: nowrap; overflow: auto;}
            body[data-page=page-conversation] #people-nav > .panel-menu > pre {display: none;}   
        body[data-page=page-conversation] #people-panel .panel-body #connection-items-header {display: none;}

        #connection-items-header {display: none; text-align: center; padding-bottom: 2px; background-color: #078; box-shadow: 0 1px 3px #000 inset;}
            #connection-items-header .btn.btn-direction {border: none; padding: 4px 15px 0;} 
            #connection-items-header .btn {background-color: transparent; box-shadow: none;}
            #connection-items-header .btn.active {color: #ff6;}

        .connection-items-con {display: none;}
        #page-conversation .connection-items-con {display: block;}
        .connection-items-con .btn-lucid-normal,
        .connection-items-con .btn-lucid-normal,
        .connection-items-con .btn-lucid-normal:hover,
        .connection-items-con .btn-lucid-normal:not(.active):focus {padding: 2px 5px;}
            .connection-items-con > .well {background-color: #cff; border-radius: 0 0 4px 4px;}
            .connection-items-list {height: 190px; overflow: auto; padding: 5px;}
            /*@media all and (max-height: 360px) {
                .connection-items-list {max-height: 124px;}
            }*/

                .connection-items-list > li.list-group-item {background-color: transparent; border: none; border-radius: 0; color: #045; margin: 0; padding: 0;}
                .connection-items-list > li.list-group-item:not(.day-header) {margin: 0 60px 10px;}
                /*.connection-items-list > li.viewed {display: none;}*/
                .panel-body.show-viewed > .connection-items-con li.viewed {display: block;}
                .connection-items-list > li.day-header {margin-bottom: 5px; text-align: center; color: #0ab;}
                .connection-items-list .badge {font-weight: normal; font-size: 10px;}
                .connection-items-list .alert-icon {color: #0ef;}
                .connection-item-panel {position: relative; background-color: transparent; border: none; box-shadow: none; min-height: 60px;}
                    .connection-item-panel .panel-header {color: #078; font-size: 10px; position: absolute;}
                    .connection-items-list > li.list-group-item:not(.you) .connection-item-panel .panel-header {left: -60px;} 
                        .connection-item-panel .panel-header img {display: block; border: 1px solid #0ab; border-radius: 4px; height: 50px; width: 50px;}
                        .connection-item-panel .panel-header .username {display: block;}
                        .connection-item-panel .panel-header .status {color: #0ab;}
                            
                        .connection-item-panel .panel-body {position: relative; padding: 0;}
                            .connection-item-panel .panel-body .connection-content {}
                            .connection-item-panel .panel-body blockquote.connection-content:before {content: '\201C'; font-weight: bold; font-size: 20px; font-family: serif; line-height: 12px; padding-right: 3px;}
                            .connection-item-panel .panel-body blockquote.connection-content:after {content: '\201D'; font-weight: bold; font-size: 20px; font-family: serif; line-height: 12px; padding-left: 3px;}
                                .connection-items-list > li.list-group-item .connection-item-panel .panel-body .callout-pointer {position: absolute; top: 8px; height: 8px; width: 8px; background-color: #fff; border: 1px solid #0ef;}
                                .connection-items-list > li.list-group-item:not(.you) .connection-item-panel .panel-body .callout-pointer {left: -7px; border-radius: 8px 0 0; border-right: 1px solid #fff;}
                            .connection-item-panel .status {position: absolute; right: 5px; bottom: 3px; color: #0ab; font-size: 10px;}
                                .connection-item-panel .status .viewed-icon {display: none;}
                                .connection-item-panel .status .not-viewed-icon {display: none; color: #0ab;}
                                /*.connection-item-panel .btn.like {margin-top: -5px; font-size: 10px;}
                                body[data-page=page-conversation] .connection-item-panel .panel-header .status .btn.like {display: none;}
                                .connection-item-panel .panel-header .status .btn.like > span {font-family: arial; font-size: 10px;}
                                */
                        .connection-item-panel .panel-footer {position: absolute; top: 0px; color: #0ab; font-size: 10px; width: 55px;}
                        .connection-items-list > li.list-group-item:not(.you) .connection-item-panel .panel-footer {right: -65px;}
                            
                .connection-items-list > li.viewed {border-color: #0ab;}
                    .connection-items-list > li.viewed .connection-item-panel .status .viewed-icon {display: inline-block;}
                    .connection-items-list > li.viewed .connection-item-panel .status .not-viewed-icon {display: none;}
                /* If is User switch profile pic to right side */
                .connection-items-list > li.list-group-item.you {margin: 0 60px 10px;}
                    .connection-items-list > li.list-group-item.you .connection-item-panel .panel-header {right: -60px;}
                    .connection-items-list > li.list-group-item.you blockquote {}
                    .connection-items-list > li.list-group-item.you .connection-item-panel .panel-body .callout-pointer {right: -7px; border-radius: 0 8px 0 0; border-left: 1px solid #fff;}
                    .connection-items-list > li.list-group-item.you .connection-item-panel .panel-footer {left: -65px;}
        .connection-item-panel .btn-like {display: none;}   
        .connection-items-con.specific-user {}

    /* APP COMPONENTS */
    ._connections-book {}   /* See a list of people from your connections book who are online now */
    ._contact-summary {}    /* See who has contacted, viewed, messaged or requested to be friends with you recently */
    ._private-game {}       /* play games against other person (1:1) */
    ._private-chat {}       /* privately chat with someone */
    ._user-badge {}         /* See who is contacting you */
        ._user-badge .user-pic {width: 50px; margin: 0 10px 3px 0; box-shadow: 0px 0px 2px #666; height: 50px; background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9); border-radius: 5px 5px 5px 5px; border: 1px solid #999;}
        ._user-badge .user-bio {padding: 3px 5px; background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9); border-radius: 5px 5px 5px 5px; border: 1px solid #ddd;}

/******** FOR TESTING ONLY!! ********/
/*.horizontal-sliding-nav, #stream-name, .filter-info, .stream-associations, .list-group, #filter-toggle-menu, #people-nav, .stream-history-list {overflow-x: hidden !important; overflow-y: hidden !important; overflow: hidden !important;}
