/* Bootstrap overrides */
.navbar {background: none; min-height: 0;}
.navbar-form {padding: 0; margin-left: 0 !important; margin-right: 0 !important; border: none !important;}
.form-group {margin-bottom: 0 !important;}
.form-control {height: 34px;}
.label {font-size: 10px; padding: 0 3px 3px;}
.btn-lg {padding: 9px 16px;}

/* GLOBAL: Vars */
.blue {color: #006DCC;}
.dark-blue {color: #002A80;}
.light-blue {color: #4A86E8;}
.orange {color: #f90;}

/* GLOBAL */
* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

body {
    font-family: arial;
    font-size: 12px;
    color: #333;
    padding: 0;
    margin: 0;
    background: #fff url("../img/bg-1.jpg") 0 0 no-repeat fixed;
    background-size: 100% 100%; 
    line-height: 1.4; 
}

nav#header {box-shadow: 0 1px 5px rgba(0, 0, 0, 0.75);}
nav#footer {box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.75);}

.logo {height: 42px; margin-top: 6px;}
.hide {display: none;}
.tilde {color: #fff; font-size: 22px; font-weight: bold; line-height: 0.7;}
.divider {color: #999; font-weight: bold; margin-right: -2px;}
.content {transition: padding-top 1s; -webkit-transition: padding-top 1s; position: absolute; top: 0; left: 0; width: 100%; padding: 60px 10px 55px; background-color: rgba(255,255,255,0.25);}
    body.public-panel-expanded .content {transition: padding-top 1s; -webkit-transition: padding-top 1s; padding-top: 112px;}

.label {box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75); border: 1px solid #fff; border-radius: 5px;}
form {padding: 0;}
h1 {font-size: 18px; font-weight: bold; margin-bottom: 10px;}

.indicator {display: none;}
sup.indicator {margin-left: 3px; top: -0.5em;}
button sup.indicator {position: absolute; top: -8px; right: 2px; margin-left: 0;}
   
nav#header {background: rgba(255, 255, 255, 0.75);}
nav#header .monarch {position: absolute; left: 120px; top: -1; height: 25px;}
nav#header .main-nav-controls {padding: 10px 5px 0 0;}
nav#header #stream-header {padding: 0 5px; background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5); box-shadow: 0px 1px 1px #ccc inset;}
    nav#header #stream-header .status {cursor: pointer; padding: 6px 0 4px;}
    nav#header #stream-header .status:hover .toggle {transition: opacity 0.5s; -webkit-transition: opacity 0.5s; opacity: 1;}
        nav#header #stream-header .status .toggle {transition: opacity 0.5s; -webkit-transition: opacity 0.5s; opacity: 0.3;}
        nav#header #stream-header .status .stream {width: 50%;}
        nav#header #stream-header .status h1.stream-name  {display: inline; margin: 0; padding: 0; font-size: 12px; line-height: 1.3; height: 17px; overflow: hidden;}
        nav#header #stream-header .status h1.stream-name:before {content: "~";}
    
    /* PUBLIC PANEL */
    nav#header #stream-header .public-panel {display: none; position: relative; padding: 2px 5px 10px 2px; margin: 0 0 5px; max-height: 150px; overflow: auto;}
        /* PUBLIC PANEL COMPONENTS */
        ._client-poll {}       
        ._client-survey {}
        ._client-promotion {}
        ._public-game {}
        ._client-badge {}
            nav#header #stream-header .public-panel ._client-badge .client-pic {width: 100px; margin: 0 10px 10px 0; box-shadow: 2px 2px 5px #666; height: 100px; background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9); border-radius: 5px 5px 5px 5px; border: 6px double #999;}
            nav#header #stream-header .public-panel ._client-badge .client-title {font-size: 14px; font-weight: bold; margin-bottom: 5px;}
            nav#header #stream-header .public-panel ._client-badge .client-bio {padding: 3px 5px; background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9); border-radius: 5px 5px 5px 5px; border: 1px solid #ddd;}
/*
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ccf;
    height: 50px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: gray;
}
*/

nav#footer {background: rgba(255, 255, 255, 0.75);}
    nav#footer .status {position: relative; text-align: left; padding: 3px 0 0;}
        nav#footer .stream-activity-filters { display: none; padding: 3px 0 0 6px; text-align: center;}
        nav#footer .status .toggle {cursor: pointer; margin-left: 3px;}
        nav#footer .status .toggle {transition: opacity 0.5s; -webkit-transition: opacity 0.5s; opacity: 0.3; margin-left: 2px;}
        nav#footer .status:hover .toggle {transition: opacity 0.5s; -webkit-transition: opacity 0.5s; opacity: 1;}
            nav#footer .status .activity-icon {font-size: 12px;}
            nav#footer .status .activity-icon .indicator {position: absolute; top: -15px;}
                nav#footer .stream-activity-status .activity-icon .indicator {left: -8px;}
                nav#footer .personal-status .activity-icon .indicator {right: -4px;}
            nav#footer .status .activity-icon-hilighter {position: absolute; bottom: 2px; height: 16px; width: 18px; border: 1px solid #666; border-radius: 3px; background-color: #fa1;}
                nav#footer .stream-activity-status {width: 50%;}
                    nav#footer .stream-activity-status .activity-icon {margin-left: 10px;}
                    nav#footer .stream-activity-status .activity-icon:first-child {margin-left: 5px;}
                        body.all-pane-active nav#footer .status .activity-icon-hilighter {left: 2px;}
                        body.people-pane-active nav#footer .status .activity-icon-hilighter {left: 27px;}
                        body.chat-pane-active nav#footer .status .activity-icon-hilighter {left: 52px;}
                        body.photos-pane-active nav#footer .status .activity-icon-hilighter {left: 77px;}
                        body.videos-pane-active nav#footer .status .activity-icon-hilighter {left: 102px;}
                        body.audio-pane-active nav#footer .status .activity-icon-hilighter {left: 127px;}
                nav#footer .personal-status {}
                    nav#footer .personal-status .activity-icon {margin-right: 10px;} 
                    nav#footer .personal-status .activity-icon:first-child {margin-right: 5px;} 
                        /*
                        body. nav#footer .status .activity-icon-hilighter {right: 112px;}
                        body. nav#footer .status .activity-icon-hilighter {right: 90px;}
                        body. nav#footer .status .activity-icon-hilighter {right: 68px;}
                        */
                        body.history-pane-active nav#footer .status .activity-icon-hilighter {right: 46px;}
                        body.connections-pane-active nav#footer .status .activity-icon-hilighter {right: 24px;}
                        body.private-chat-pane-active nav#footer .status .activity-icon-hilighter {right: 2px;}
        
        /* PRIVATE PANEL */
        nav#footer .private-panel {display: none; position: relative; padding: 2px 5px 5px 2px; margin: 5px 0 0; max-height: 150px; overflow: auto;}
        
            /* PRIVATE PANEL COMPONENTS */
            ._connections-book {}   /* See a list of people from your connections book who are online now */
            ._contact-summary {}    /* See who has contacted, viewed, messaged or requested to be friends with you recently */
            ._private-game {}       /* play games against other person (1:1) */
            ._private-chat {}       /* privately chat with someone */
            ._user-badge {}         /* See who is contacting you */
                nav#footer .private-panel ._user-badge .user-pic {width: 50px; margin: 0 10px 3px 0; box-shadow: 0px 0px 2px #666; height: 50px; background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9); border-radius: 5px 5px 5px 5px; border: 1px solid #999;}
                nav#footer .private-panel ._user-badge .user-bio {padding: 3px 5px; background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9); border-radius: 5px 5px 5px 5px; border: 1px solid #ddd;}
    
    /* GOBAL USER INPUT */
    nav#footer .global-user-input {padding: 3px 0; box-shadow: 0 0 3px #999;}
        nav#footer .global-user-input #send-message-con form.send-message-form {margin: 0; position: relative; width: 100%; padding-left: 5px;}
            nav#footer .global-user-input #send-message-con form.send-message-form .send-message-entry {width: 100%; padding-right: 84px;}
                nav#footer .global-user-input #send-message-con form.send-message-form .send-message-entry input#send-message {border-top-right-radius: 0; border-bottom-right-radius: 0;}
            nav#footer .global-user-input #send-message-con form.send-message-form .send-message-controls {position: absolute; right: 6px;}
                nav#footer .global-user-input #send-message-con form.send-message-form .send-message-controls .attach-media-button {border-top-left-radius: 0; border-bottom-left-radius: 0;}
