/* BOTSTRAP OVERRIDES */
.nav-pills > li > a {background-color: rgba(0, 100, 115, 0.95); border: 1px solid #056; border-radius: 0 0 5px 5px; box-shadow: 1px 1px 3px #000; padding: 10px 17px; color: #0ef;}
.nav > li > a:hover,
.nav-pills > li.active > a:hover {background-color: rgba(0,200,215, 0.95); color: #fff;}
.nav > li > a:focus,
.nav-pills > li.active > a:focus {background-color: rgba(0,200,215, 0.95); color: #fff;}
.nav-pills > li.active > a  {background-color: rgba(255,180,0, 0.95); color: #fff;}
.navbar {background: none; min-height: 0;}
    .navbar.navbar-fixed-top, .navbar.navbar-fixed-bottom,  {z-index: 2000;} 
.navbar-form {padding: 0; margin: 0; border: none;}
.form-group {margin-bottom: 0 !important;}
.form-control {height: 34px;}
.label {font-size: 10px; padding: 0 3px;}
.list-group {margin-bottom: 0;}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {background: none; background-color: rgba(255,255,0,0.9); text-shadow: 0 -1px 0 #3071A9;}
.list-inline > li {padding: 0;}
.btn:active, .btn.active {box-shadow: none;}
.btn-lg {padding: 9px 16px;}
.btn .badge {right: 0px;}
.btn-group-justified  > a {border-radius: 0;}
.badge {background-color: rgba(255, 255, 255, 0.3);}
.form-control::-moz-placeholder, .form-control::-webkit-placeholder {color: #468; text-shadow: 0 0 0 #000;}
.form-control {
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    background-color: #FFFFFF; border: 1px solid #CCCCCC; border-radius: 4px 4px 4px 4px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #333; display: block; font-size: 12px; font-weight: bold; height: 34px;
    line-height: 1.42857; padding: 6px 5px; vertical-align: middle; width: 97%;}
.navbar {border: none;}
.alert {margin: 0; padding: 0; border-radius: 0 0 5px 5px;}
    .alert a.alert-link {text-decoration: none;}
.carousel {padding: 5px;}
    .carousel .carousel-inner .item {margin: 20px 15px 10px;}
    .carousel.panel-carousel .carousel-inner .item {padding: 30px 2px 0;}
    .carousel .carousel-control {width: 20px; color: #277; text-shadow: none; opacity: 1;}
    .carousel .carousel-control.left, .carousel .carousel-control.right {background: none;}
    .carousel .carousel-control:hover, .carousel-control:focus {color: #277; opacity:; 1;}
    .carousel .carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {display: none; z-index: 100; top: 5px; left: 4px; font-size: 12px;}
    .carousel .carousel-caption {top: 16px; left: 0; padding: 0; color: #277; text-shadow: none; z-index: 100; max-height: 45px;}
        .carousel .carousel-caption h3 {position: absolute; left: 0; margin: 0; padding: 0; font-size: 16px;}
    .carousel .carousel-indicators {top: -10px; z-index: 100; height: 35px; margin-bottom: 0;}
        .carousel .carousel-indicators > li {margin: 0; border-radius: 2px; border-color: #277; height: 5px; width: 20px; background-color: transparent;}
        .carousel .carousel-indicators > li.active {background-color: #277;}
        .carousel .carousel-indicators .btn-lucid.active {height: 50px; min-width: 50px; margin: 0 2px;}

.panel {margin-bottom: 0;}
.panel .panel-heading {padding: 5px; color: #333;}
.panel .panel-body {padding: 5px;}

.dropdown-menu {margin: 0; color: #fff; padding: 0; z-index: 3000; box-shadow: 2px 2px 5px #000; background-color: rgba(0, 180, 195, 0.85); border: 2px solid #0ef;}
    .dropdown-menu > li > a {padding: 3px 10px; color: #fff; cursor: pointer;}
    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {color: #078; background-color: #056; background-image: linear-gradient(to bottom, #ff0 0px, #ff6 100%);}
        .dropdown-menu > li > a > .menu-icon {top: 3px; margin-right: 5px;}
    .dropdown-menu > li > ul {font-color: #0ab;}
.dropdown-menu .header {color: #078; padding: 0 10px; font-weight: bold; }
.dropdown-menu ul {color: #fff; font-size: 12px; font-weight: bold;}
.dropdown-menu .divider {background-color: #0ef;}

.caret {border-top-color: #fff;}
.well {min-height: 0px;}
.modal {z-index: 4000; padding-top: 100px;}

.list-group-item {color: #fff; padding: 10px 5px; background-color: rgba(0,0,0,0.3); border: 1px solid #0ab;}
.list-group-item.selected {color: #0ab; background-color: #ff6;}

/* GLOBAL: Vars */
/* Orange */
.color-1 {color: #f90;}
.color-1-lt {color: #fc0;} 
.color-1-dk {color: #940;}
.bg-1 {background-color: #f90 !important;}  
.bg-1-70 {background-color: rgba(255,180,0,0.7);}
.bg-1-30 {background-color: rgba(255,185,0,0.3);}
.bg-1-lt {background-color: #fc0 !important;}
.bg-1-dk {background-color: #940 !important;}
.btn-link-lucid.color-1-lt:hover, .btn-link-lucid.color-1-lt:focus {color: #fc0;}
/* Blue */
.color-2 {color: #24b;}
.color-2-lt {color: #029;} 
.color-2-dk {color: #68f;}
.bg-2 {background-color: #24b !important;}
.bg-2-70 {background-color: rgba(35,70,185,0.7);}
.bg-2-30 {background-color: rgba(35,70,185,0.3);}
.bg-2-dk {background-color: #029 !important;}
.bg-2-lt {background-color: #68f !important;}
.btn-link-lucid.color-2-lt:hover, .btn-link-lucid.color-2-lt:focus {color: #029;}
/* Teal */
.color-3 {color: #0ab;}
.color-3-lt {color: #0ef;} 
.color-3-dk {color: #056;}
.bg-3-70 {background-color: rgba(0,170,185,0.7);}
.bg-3-30 {background-color: rgba(0,170,185,0.3);}
.bg-3 {background-color: #0ab !important;}
.bg-3-lt {background-color: #0ef !important;} 
.bg-3-dk {background-color: #056 !important;}
.btn-link-lucid.color-3-lt:hover, .btn-link-lucid.color-3-lt:focus {color: #0ef;}
/* dk-Teal */
.color-4 {color: #266;}
.color-4-lt {color: #599;} 
.color-4-dk {color: #044;}
.bg-4 {background-color: #266 !important;}
.bg-4-70 {background-color: rgba(30,100,100,0.7);}
.bg-4-30 {background-color: rgba(30,100,100,0.3);}
.bg-4-lt {background-color: #599 !important;}
.bg-4-dk {background-color: #044 !important;}
.btn-link-lucid.color-4-lt:hover, .btn-link-lucid.color-4-lt:focus {color: #599;}
/* Lt-Blue */
.color-5 {color: #4ad;}
.color-5-lt {color: #6cf;} 
.color-5-dk {color: #069;}
.bg-5 {background-color: #4ad !important;}
.bg-5-70 {background-color: rgba(0,170,255,0.7);}
.bg-5-30 {background-color: rgba(0,170,255,0.3);}
.bg-5-lt {background-color: #6cf !important;} 
.bg-5-dk {background-color: #069 !important;}
.btn-link-lucid.color-5-lt:hover, .btn-link-lucid.color-5-lt:focus {color: #6cf;}

.blue {color: #006DCC;}
.dark-blue {color: #002A80;}
.light-blue {color: #4A86E8;}
.new-blue {color: #428bc7;}
.orange {color: #f90;}

/* GLOBAL */
* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
body {font-family: arial; font-weight: normal; font-size: 14px; color: #333; padding: 0; margin: 0;
    background: #f0ffff; line-height: 1.4;}

.stream-name:before {content: "~";}
.hide {display: none;}
.toggle {cursor: pointer; color: #277;}
/*.divider {color: #999; font-weight: bold; margin-right: -2px;}*/
#pages {position: absolute; top: 0; left: 0; min-width: -moz-available; min-width: -webkit-available; width: auto; height: 100%; padding: 155px 10px 0; /*background-color: rgba(255,255,255,0.25);*/}

.label-lucid {color: #fff; padding: 1px 3px 0px 2px; border: 1px solid #fff; border-radius: 5px; box-shadow: 1px 1px 1px #333; background-color: #6bb;}
form {padding: 0;}
h1 {font-size: 18px; font-weight: bold; margin-bottom: 10px;}

.menu-transparent {position: absolute; width: 100%; margin: 0; overflow: auto; padding: 0; z-index: 1900; background-color: #056; box-shadow: 0px 3px 5px #333; border-bottom: 1px solid #0ab;}

.well-lucid {background-color: rgba(0,200,225,0.5); background-image: none; border-color: #0ab; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.95) inset, 1px 1px 3px #fff; margin: 0; padding: 0; overflow: auto;}
    .menu-transparent .well-lucid {border-color: #078;}


/*
.alert{}
    .alert a.alert-link {position: relative; display: block; padding: 5px 35px 5px 25px; color: #fff; font-weight: normal; line-height: 1.15; border-bottom: 1px dotted #0ab;}
        .alert .view-indicator {position: absolute; top: 0; right: 5px; color: #ff6;}
        .alert .alert-timestamp {position: absolute; top: 15px; right: 5px; font-size: 10px; color: #ff6;}
        .alert .alert-icon {position: absolute; top: 5px; left: 5px;}
        .alert .alert-message {}
        .alert > a img {width: 25px; height: auto; margin: 0 5px 5px 0; border: 1px solid #A47E3C; border-radius: 5px; padding: 2px;}
*/

/* PANEL */
.panel > .panel-body > .carousel {padding: 0px;} 
.panel.panel-lucid {position: relative;}
        
    .stream-pane-menu-con .panel-nav.left, .stream-pane-menu-con .panel-nav.right {display: none;}
    .panel-nav.left, .panel-nav.right {position: absolute; top: 20px; z-index: 100; color: #277; opacity: 0.6; text-shadow: 0 0 3px #fff;}
    .panel-nav.left {left: 0;}
    .panel-nav.right {right: 3px;}
    .panel.panel-lucid .panel-nav.left, .panel .panel-nav.right {display: none; position: absolute; top: 30%; z-index: 0; font-size: 10px; font-weight: bold; line-height: 0.5; color: #055; opacity: 0.4; text-shadow: 0 0 3px #fff; /*background-color: rgba(255, 255, 255, 0.5)*/}
    .panel.panel-lucid .panel-nav.left.scroll-menu, .panel.panel-lucid .panel-nav.right.scroll-menu {display: block;}
    .panel .panel-heading h1, .panel .panel-heading h2, .panel .panel-heading h3, .panel .panel-heading h4, .panel .panel-heading h5, .panel .panel-heading h6 {margin: 0;}
         .panel .panel-heading.panel-nav {position: relative; white-space: nowrap; text-align: center;}
        .panel .panel-heading.panel-nav .panel-menu {position: relative;}
            /*.panel .panel-heading.panel-nav .panel-menu > button:first-child {margin-left: 20px;}
            .panel .panel-heading.panel-nav .panel-menu > button:last-child {margin-right: 20px;}*/
        .panel .panel-heading.panel-nav .panel-menu.btn-group {width: 100%;}

    .panel.panel-lucid {margin: 0; color: #227777; background: rgba(0,0,0,0.2); border-radius: 0;} 
        .panel.panel-lucid > .panel-heading {padding: 0; border: none; border-radius: 0; overflow: auto;}
        .panel.panel-lucid > .panel-body {max-height: 250px; padding: 0; box-shadow: 0 1px 3px #333 inset; background-color: #ffb; overflow: auto;}
            .panel.panel-lucid > .panel-body > .carousel {display: none;}
            .panel.connections-panel > .panel-body .panel .panel-body {padding: 0;}
    .panel.connections-panel > .panel-body > .panel {display: none; background: none;}
    .panel.connections-panel > .panel-body > .panel.active {display: block;}
        
/* CAROUSEL */
.carousel .carousel-inner .item {color: #333;}
.carousel .carousel-inner .item > .panel {margin: 0 5px 20px;}
    .carousel .carousel-inner .item > .panel > .panel-body {padding: 0;}
.carousel .carousel-inner .item > h4 {margin: 0 0 0 5px;}
.stream-controls-carousel.carousel > .carousel-indicators {}

/* TOGGLES */
.toggle-on-off {margin: 2px;}
.toggle-on-off .toggle-target {padding-left: 5px; padding-right: 5px; display: inline-block; font-size: 14px; min-width: 205px; background: #eee;}
.toggle-on-off .toggle-target .name {color: #333; text-shadow: none;}
.toggle-on-off.on .toggle-target {height: 35px; color: #fff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2); background-image: linear-gradient(to bottom, #5CB85C 0px, #449D44 100%);}
.toggle-on-off.go .toggle-target {min-width: 170px;}
.toggle-on-off .toggle-target .badge {top: 0; background-color: #ccc; color: #000; opacity: 0.3;}
.toggle-on-off.on .toggle-target .badge {opacity: 1; color: #fff;}

.indicator {display: none; font-family: Arial}

.btn-link-lucid {font-size: 13px; line-height: normal; transition: opacity 0.5s; -webkit-transition: opacity 0.5; opacity: 1; color: #0ab; text-align: left; padding: 0; border-color: rgba(0, 0, 0, 0); background-color: rgba(0, 0, 0, 0); box-shadow: none; text-shadow: none;}
.btn-link-lucid:hover, .btn-link-lucid:focus {color: #0ab; text-decoration: none; box-shadow: none;}
.btn-link-lucid.glyphicon {padding-left: 10px;} 
.active > .btn-link-lucid {transition: opacity 0.5s; -webkit-transition: opacity 0.5; opacity: 1;}
.list-group-item.active > .btn-link-lucid {color: #078;}
button.btn-link-lucid:hover, button.btn-link-lucid:focus {color: #f90;}
button.btn-link-lucid {font-size: 18px; padding: 5px;}

#main-menu-toggle.btn-link-lucid, #connections-panel-toggle.btn-link-lucid {opacity: 1; color: #f90;}

.btn-link-lucid.tilde {font-size: 40px; line-height: 0;}
.btn-link-lucid .icon {font-size: 8px; position: absolute; right: 2px; top: 4px;}
    .btn-link-lucid .badge, .btn-lucid .badge {background-color: rgba(0, 200, 220, 0.7); font-family: Arial; color: #fff; margin-right: 5px;}
    .btn-link-lucid.active .badge, .btn-lucid.active .badge {/*background-color: rgba(255,255,255,0.7); color: #fff;*/}
.btn-lucid {transition: box-shadow 0.5s, background-color 0.5s, border-color 0.5s; -webkit-transition: box-shadow 0.5s, background-color 0.5s, border-color 0.5s;
    box-shadow: none; border-color: #ddd;
    position: relative; margin: 5px 5px; padding: 4px 6px; cursor: pointer; font-size: 16px; color: #fff;
    border-width: 2px;  border-radius: 5px; background-size: 100% 100%; background-repeat: no-repeat;}
.btn-lucid:hover {color: #fff; border-color: #fff;}
.btn-lucid.active {transition: color 0.5; -webkit-transition: box-shadow 0.5s;
        border-width: 2px; border-color: #ddd;
        color: #fff; background-color: rgba(0, 130, 255, 0.95); border: 2px solid #ff6;}
    .btn-lucid.tilde {font-size: 40px; line-height: 0.45;}
    .btn-lucid.tilde:before {content: "~";}
        /*.btn-lucid.tilde .indicator {top: 0; left: 20px;}*/
    /*
    .stream-controls-panel > .panel-heading .btn-lucid .indicator {left: 6px; top: 4px;}
    .stream-controls-panel > .panel-heading .btn-lucid .glyphicon {font-size: 14px; margin-right: 2px;} 
    */ 
    .btn-lucid img {position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 4px;}
    .btn-lucid h1 {margin: 0; padding: 0; font-size: 12px;}
    
        .btn-lucid label {display: block; margin-top: 4px; font-size: 10px; font-family: Arial; font-weight: normal; line-height: 1;}
        .btn-lucid.tilde label {margin-top: -4px;}
    .btn-lucid .indicator {display: block; position: absolute; top: -6px; left: -6px;}
    
.btn-lucid.user {margin: 8px 5px 21px; height: 50px; width: 50px;}
    .btn-lucid.user.active {}
        .btn-lucid.user > label {margin: 0 -12.5px; color: #0cd; font-size: 9px; top: 50px; left: 0; position: absolute; text-align: center; width: 70px; text-align: center;}
        .btn-lucid.user.active > label {color: #ff6;}
            .btn-lucid.user > label > .fname, .btn-lucid.user > label > .lname {display: block;}
        .btn-lucid.user.active > label {background-color: transparent;}
        .btn-lucid.user .indicator .label.label-lucid {background-color: #428bc7;}
        .btn-lucid.user.active .indicator .label.label-lucid {border-width: 2px; border-color: #ff6;}
/*
.btn-lucid.menu {padding: 0 5px 0 19px; color: #089; background-color: rgba(0,0,0,0); border-radius: 0; border: none; white-space: nowrap;}
.btn-lucid.menu.active {box-shadow: none;}
    .btn-lucid.menu > .badge {display: inline-block; font-family: arial; margin: 0 -12px 0; width: 36px; padding: 2px 0; color: #0cd; text-shadow: none;}
    .btn-lucid.menu.active > .badge {color: #fff; text-shadow: none;}
/*
    .btn-lucid.menu.tilde > .badge {top: -2px;}
.btn-lucid.menu.divider {border-left: 1px solid #056;}
@media screen and (orientation: landscape) {
    .btn-lucid.menu {padding: 0 6px;}
    .btn-lucid.menu > .badge {display: inline-block; left: 0; margin: 0 -12px;}
}
*/
/* btn-lucid-transparent */
.btn-lucid-transparent, .btn-lucid-transparent:hover, .btn-lucid-transparent:focus {height: 32px; text-shadow: 0 0 5px #666; color: #fff; box-shadow: 0 0 1px #0ef, 0 0 1px #0ef inset; border-color: #078; background-color: rgba(0,240,255,0.3);}
.btn-lucid-transparent.active {background-color: rgba(255,255,255,0.5); color: #fff; text-shadow: 0 0 5px #000;} 
    .btn-lucid-transparent .badge {background-color: rgba(255,255,255,0.5);}
.btn-lucid-transparent.disabled, .btn-lucid-transparent.disabled:hover, .btn-lucid-transparent.disabled:focus {opacity: 0.3;}

.btn-lucid-transparent.power, .btn-lucid-transparent.power:hover, .btn-lucid-transparent.power:focus {padding: 4px 10px 2px;} 
    .btn-lucid-transparent.power > .glyphicon-off {font-size: 16px !important;}
.btn-lucid-transparent.power.active {font-size: 6px; color: #ff6; padding: 7px 10px 0; border: 1px solid #ff6;}
    .btn-lucid-transparent.power.active > .glyphicon-off {transition: transform 0.5; -webkit-transition: transform 0.5; transform: rotate(180deg);}

.btn-lucid-normal, .btn-lucid-normal:hover, .btn-lucid-normal:not(.active):focus {text-shadow: 0 0 5px #666; padding: 5px 12px; color: #fff; box-shadow: 0 0 1px #0ef inset; border-color: #078; background-color: rgba(0,200,210,0.5);}
    .btn-lucid-normal > .toggle-icon {margin: 0 -5px; border: 1px solid #fff; border-radius: 50% 50%; padding: 4px 5px 0px 4px; background-color: rgba(255, 160, 0, 0.9);}
    .btn-lucid-normal > .toggle-icon > span:first-child,
    .btn-lucid-normal:not(.active):focus > .toggle-icon > span:first-child {display: inline-block;}
    .btn-lucid-normal > .toggle-icon > span:last-child,
    .btn-lucid-normal:not(.active):focus > .toggle-icon > span:last-child {display: none;}
.btn-lucid-normal.active, .btn-lucid-normal.active:focus {color: #fff; box-shadow: 0 0 3px #0ef inset;}
    .btn-lucid-normal.active > .toggle-icon, .btn-lucid-normal.active:focus > .toggle-icon {padding: 2px 4px 2px 5px; background-color: rgba(255, 255, 0, 0.9);}
    .btn-lucid-normal.active > .toggle-icon > span:first-child, .btn-lucid-normal.active:focus > .toggle-icon > span:first-child {display: none;}
    .btn-lucid-normal.active > .toggle-icon > span:last-child, .btn-lucid-normal.active:focus > .toggle-icon > span:last-child {display: inline-block;}

.chevron-toggle {margin-top: 3px; color: #f90; font-size: 10px;}
.chevron-toggle.left {float: left; padding-right: 5px;}
.chevron-toggle.right {float: right; padding-left: 5px;}

.chevron-left {opacity: 0.8; position: absolute; left: 0px; top: 12px; z-index: 100; color: #0ef; font-size: 10px; text-shadow: 0 0 3px #000;}
.chevron-right {opacity: 0.8; position: absolute; right: 0px; top: 12px; z-index: 100; color: #0ef; font-size: 10px; text-shadow: 0 0 3px #000;}

.color-male {color: #00f;}
.color-female {color: #FFC0CB;}

.associated-tilde {font-size: 28px; font-weight: bold; left: 5px; line-height: 6px; margin-right: 10px; position: relative; top: 6px;}
.slider-status-con.vertical .associated-tilde {margin-left: 5px; top: 2px;}
.associated-plus {background-color: #078; border-radius: 2px; height: 14px; left: 14px; position: absolute; top: 5px; width: 3px;}
.slider-status-con.vertical .associated-plus {left: 22px;}
    .active > .associated-plus {color: #0cd;}

/* HEADER */   
nav#header {z-index: 2001; background-color: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 5px #000;}
    nav#header > .masthead {position: relative; height: 40px; box-shadow: 0 0 3px #000; z-index: 2001; background-color: #078; background-image: linear-gradient(to bottom, #0ab 0px, #078 100%);}
        nav#header > .masthead .main-nav {position: absolute; top: 2px;}
        nav#header > .masthead .main-nav.left {left: 5px;}
        #connections-panel-toggle {width: 40px;}
        nav#header > .masthead .main-nav.right {right: 5px;}
        nav#header > .masthead center {padding-top: 5px;}
        nav#header > .masthead .logo-con {padding-right: 2px; width: 140px;}
        nav#header > .masthead .monarch {height: 20px; margin-top: -4px;}
        nav#header > .masthead .monarch-icon {height: 20px; width: 30px; margin-top: 8px; background-image: url("../img/lucid-butterfly-teal.png"); background-repeat: no-repeat; background-size: 100% auto;}
            nav#header > .masthead .monarch-icon.active {background-image: url("../img/lucid-butterfly-white.png");}
        nav#header > .masthead .logo {width: 100px; margin: 0 -5px 5px 5px;}
        /*nav#header .masthead .monarch.animated {position: absolute; left: 120px; top: -1; height: 25px;}*/

    #controls-panel {transition: top 0.5s; -webkit-transition: top 0.5s; position: absolute; top: -60px; width: 100%; min-height: 90px; background-color: #056; border-bottom: 1px solid #0ab; box-shadow: 0px 3px 5px #000;}
    #controls-panel.active {transition: top 0.5s; -webkit-transition: top 0.5s; top: 40px;}
        .controls-panel {position: absolute; width: 100%; padding: 5px 5px 0; white-space: nowrap;}
            .status-con {width: 33.3%;}
                .select-toggle {width: 100%; text-align: left; border-radius: 4px 0 0 4px; overflow: auto; padding-right: 1px;}
                    .select-toggle .badge {top: 1px; background-color: rgba(255,255,255,0.3);}
                .history-list {max-height: 230px; overflow: auto; font-size: 10px; white-space: nowrap;}
                    .history-list .list-group-item {white-space: normal;}
            .slider-status-con {max-width: 66.6%; float: left;}
                .slider-status-con > .toggle-expand {position: absolute; top: 0; right: 0; width: auto;}
                .slider-status-con > .list-group {white-space: nowrap; max-width: 100%; margin: 0 39px 0 0; padding: 4px; height: auto; border-radius: 0; box-shadow: 0 0 3px #000 inset; overflow: auto;}
                    .slider-status-con > .list-group > .list-group-item {margin: 0; border-radius: 4px; padding: 1px 0 3px 1px;}

            /*.slider-status-con.vertical {height: auto;}*/
            .slider-status-con.vertical .list-group {margin-top: 1px; padding: 0; background-color: rgba(0, 150, 170, 0.95); border: 1px solid #0ef; border-radius: 0 0 5px 5px; max-height: 230px; box-shadow: 1px 3px 5px #000;}
                .slider-status-con.vertical .list-group > li {padding: 5px 16px 6px 5px; border-radius: 0;}
                    .slider-status-con.vertical .list-group > li > a {}

        /* Phone Alterations */
        @media (max-width: 480px) {
            .status-con {margin-right: -39px; padding-right: 39px; width: 100%;}
                .slider-status-con {float: right; width: 39px; max-width: auto;}
                .slider-status-con > .list-group {display: none;}
                .slider-status-con.vertical .list-group {float: right;}
                .slider-status-con.vertical, .slider-status-con.vertical .select-toggle {width: 100%;}
                .slider-status-con.vertical .list-group {display: block; margin: 0;}
                .slider-status-con.vertical .toggle-expand {display: inline-block; top: -38px; border-radius: 4px 4px 0 0;}
        }

        /* STREAM CONTROLS PANEL */
        #stream-controls-panel {z-index: 1101; top: 0;}
            /* Stream */
            #stream-name {margin: 3px 0 -5px 7px; display: inline-block; line-height: 1; max-width: 183px; color: #fff; font-weight: bold; overflow: auto; font-size: 12px;}
            #stream-name:before {content: "~";}
            .history-list .stream-name {display: inline-block; margin-right: 40px; max-width: 235px; overflow: auto;}
            /* Associated Streams */
            .slider-status-con .list-group > li > a {}
                .slider-status-con .list-group > li > a > .stream-name {margin-bottom: -4px; padding-right: 5px;}
                .slider-status-con .list-group > li > a > .badge {font-weight: normal;}
            .slider-status-con .list-group > li.active {}
                .slider-status-con .list-group > li.active > a > .badge {font-weight: bold;}
                    .slider-status-con.vertical .list-group > li > button.remove {display: inline-block;}
                    .slider-status-con.vertical .list-group > li > a > .stream-name {display: inline-block; overflow: auto; font-weight: bold;}
        /* FILTER CONTROLS PANEL */
        #filter-controls-panel {z-index: 1100; top: 42px;}
            .filter-info {margin: -5px 0 -11px 25px; line-height: 1.5; color: #fff; font-weight: bold; overflow: hidden; font-size: 12px;}
                .filter-info > .badge {top: -10px; left: 5px;}
            #filter-toggle-menu .filter-toggle-menu-list a[data-stream-filter=filter] .badge:before{content:"off";}
            #filter-toggle-menu .filter-toggle-menu-list a[data-stream-filter=filter].active .badge:before{content:"on";}
            #filter-toggle-menu .filter-toggle-menu-list a[data-stream-filter=associations] .badge:before{content:"off";}
            #filter-toggle-menu .filter-toggle-menu-list a[data-stream-filter=associations].active .badge:before{content:"on";}
            #filter-toggle-menu .filter-toggle-menu-list a[data-stream-filter=details] .badge:before{content:"less";}
            #filter-toggle-menu .filter-toggle-menu-list a[data-stream-filter=details].active .badge:before{content:"more";}
            
/* PAGES */
#pages > .page {display: none; padding: 10px;}
    #pages > .page.active {display: inline;}
        #page-stream .show-stream,
        #page-stream .show-filter,
        #page-stream .show-people,
        #page-stream .show-chat,
        #page-stream .show-photos,
        #page-stream .show-videos,
        #page-stream .show-audio  {display: none;}
        body.stream #page-stream .show-stream,
        body.filter #page-stream .show-filter,
        body.people #page-stream .show-people,
        body.chat #page-stream .show-chat,
        body.photos #page-stream .show-photos,
        body.videos #page-stream .show-videos,
        body.audio #page-stream .show-audio {display: block;}

/* FOOTER */
nav#footer {background-color: #078; background-image: linear-gradient(to bottom, #0ab 0px, #078 100%); box-shadow: 0 -1px 5px #000000;}
    /* CONNECTIONS PANEL */
    #connections-panel-items {left: -120px;}
    #connections-panel {bottom: 44px; padding: 0 5px 3px; border-top: 1px solid #0ab; box-shadow: 0 -2px 3px rgba(0,0,0,0.8); }
        #connections-panel .panel-menu {margin: 0; white-space: nowrap;}
        #connections-panel > .panel-heading {width: 100%; overflow: auto;}
        #connections-panel > .panel-heading, #connections-panel > .panel-body {padding: 0;}

        .connection-items-con {display: none; margin-bottom: 4px;}
            .connection-items-header{}
                .connection-items-header .btn:first-child {border-top-left-radius: 4px;}
                .connection-items-header .btn:last-child {border-top-right-radius: 4px;}
                    .connection-items-header .btn span {font-family: arial; font-size: 10px;}
            .connection-items-con > .well {border-radius: 0 0 4px 4px;}
            .connection-items-list {max-height: 227px; overflow: auto;}
            @media all and (max-height: 360px) {
                .connection-items-list {max-height: 135px;}
            }
                .connection-items-list .badge {font-weight: normal; font-size: 10px;}
                .connection-items-list .alert-icon {color: #0ef;}
 

    /* APP COMPONENTS */
    ._connections-book {}   /* See a list of people from your connections book who are online now */
    ._contact-summary {}    /* See who has contacted, viewed, messaged or requested to be friends with you recently */
    ._private-game {}       /* play games against other person (1:1) */
    ._private-chat {}       /* privately chat with someone */
    ._user-badge {}         /* See who is contacting you */
        ._user-badge .user-pic {width: 50px; margin: 0 10px 3px 0; box-shadow: 0px 0px 2px #666; height: 50px; background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9); border-radius: 5px 5px 5px 5px; border: 1px solid #999;}
        ._user-badge .user-bio {padding: 3px 5px; background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9); border-radius: 5px 5px 5px 5px; border: 1px solid #ddd;}

    /* GOBAL USER INPUT */
    .global-user-input {padding: 5px; color: #fff;}
    /*
        .global-user-input #send-message-con form.send-message-form {margin: 0; position: relative; width: 100%; padding-left: 5px;}
            .global-user-input #send-message-con form.send-message-form .send-message-entry {width: 96%; padding-right: 20px; background-color: #fff; border-radius: 5px;}
                .global-user-input #send-message-con form.send-message-form .send-message-entry input#send-message {border-top-right-radius: 0; border-bottom-right-radius: 0; box-shadow: 0 0 3px #fff inset; background-color: #111;}
            .global-user-input #send-message-con form.send-message-form .send-message-controls {position: absolute; right: 6px;}
                .global-user-input #send-message-con form.send-message-form .send-message-controls .attach-media-button {border-top-left-radius: 0; border-bottom-left-radius: 0;}
*/

/******** FOR TESTING ONLY!! ********/
/*#stream-name, .filter-info, .stream-associations, .list-group, #filter-toggle-menu, #connection-alerts, .stream-history-list {overflow-x: hidden !important; overflow-y: hidden !important; overflow: hidden !important;}
